*~
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tags
.tmproj
nbproject
Thumbs.db
tags

# NPM packages folder.
node_modules/
npm-debug.log

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
public/

# Bower stuff.
bower_components/

# API Docs
docs/api/

# DotEnv
.env

# Django
conf/local_settings.py
